{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
    <h2>Uso de Água para {{ water_well.name }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Data</th>
            <th>Uso de Água Atual (m³)</th>
            <th>Consumo de Energia Atual (kWh)</th>
            <th>Localização</th>
        </tr>
        </thead>
        <tbody>
        {% for usage_statistic in usage_statistics %}
            <tr>
            <td>{{ usage_statistic.date }}</td>
            <td>{{ usage_statistic.water_usage }}</td>
            <td>{{ usage_statistic.kwh_consumption }}</td>
            <td>{{ usage_statistic.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'painel' %}">Voltar ao Painel</a>
    </div>
{% endblock %}