{% extends 'base.html' %}

{% block content %}
<h1>Meus comprovantes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mẽs</th>
            <th>Situação</th>
            <th>Comprovantes</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.month|date:"F Y" }}</td>
            <td>{{ payment.get_status_display }}</td>
            <td>
                {% if payment.receipt %}
                <a href="{{ payment.receipt.url }}" target="_blank" class="btn btn-sm btn-outline-primary">View
                    Receipt</a>
                {% else %}
                <span class="text-muted">Sem comprovantes</span>
                {% endif %}
            </td>
            <td>
                {% if payment.status == 'awaiting_payment' or payment.status == 'rejected' %}
                <a href="{% url 'upload_receipt' payment.month.year payment.month.month %}"
                    class="btn btn-sm btn-success">Enviar comprovante</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}