{% extends 'core/base.html' %}
{% load static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Welcome to Acaruso's Personal Website</h1>
            <p class="text-center">This is a personal website dedicated to showcasing my projects and services.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About This Site</h5>
                    <p class="card-text">This is a personal website dedicated to showcasing my projects and services.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Services</h5>
                    <p class="card-text">Here, I offer various services related to software development, data analysis, and more.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h5 class="text-center">Explore</h5>
            <p class="text-center">Check out my <a href="/pagamentos">Payments</a> app for specific services.</p>
            <p class="text-center">Check out my <a href="/stats">Stats</a> app for water usage statistics.</p>
        </div>
    </div>
{% endblock %}