{% extends 'core/base.html' %}
{% load static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard. Here you can manage water wells and other resources.</p>

        <!-- Example table for water wells -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Users</th>
                        <th>Current Usage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for well in water_wells %}
                        <tr>
                            <td>{{ well.id }}</td>
                            <td>{{ well.name }}</td>
                            <td>{{ well.location }}</td>
                            <td>
                                {% for user in well.users.all %}
                                    {{ user.username }}<br>
                                {% endfor %}
                            </td>
                            <td>{{ well.capacity }} liters</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}